.ns_password_detail{
    width: 50%; 
    padding: 30px;   
    margin-left: auto;
    margin-right: auto;
  }
  .ns_change_password{
      width: 50%;
      margin-left: 25%;
      margin-right: 25%;
  }
  
  input[type=password], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    
    
    input[type=submit] {
      width: 100%;
      background-color: #0d6efd;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    