.ns_container {    
    margin: 10px;
    padding: 0px;
    /* text-align: center; */
  }

.ns_setting_row {
    width: 100%;
    display: flex;
}

.ns_setting_column1 {
    width: 30%;
    margin: 1%;
}

.ns_setting_column2 {
    width: 70%;
    margin: 1%;
}

.ns_column1_heading, .ns_column2_heading {
    font-size: 25px;
    font-weight: 500;
}

.ns_setting_ul {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
}

.ns_setting_ul li {
    margin: 20px;
    list-style: none;
    position: relative;
    cursor: pointer;
}

.selected{
    color:rgb(255, 0, 0);
    border-left:4px solid rgb(255, 0, 0);
}

.ns_setting_ul li i {
    margin: 10px;
}

.ns_setting_sidebar {
    position: fixed;
    
    height: 100%;
    width: 300px;
    
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.ns_setting_section {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 300px;
    width: calc(100% - 300px);
    transition: all 0.5s ease;
    z-index: 2;
}