{% load static %}
<link rel="stylesheet" href="{% static 'css/ads_panel.css' %}">

<div class="ns_detail_container">
    <div class="ns_adspanel_container">

        <div class="ns_ads_types">

            <div class="ns_sq_ads">
                <h2>Square Banner Ads</h2>
                <div class="ns_square"></div>
            </div>

            <div class="ns_horizontal_ads">
                <h2>Horizontal Banner Ads</h2>
                <div class="ns_horizontal"></div>
            </div>

            <div class="ns_vertical_ads">
                <h2>Vertical Banner Ads</h2>
                <div class="ns_vertical"></div>
            </div>
        </div>
    </div>
</div>