{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<div class="ns_profile_container">
    <!-- <div class="ns_profile_heading">Profile</div> -->
    <div class="ns_profile_row">
        <div class="ns_profile_column1">
            <div class="ns_profile_img_size">
                <img src="{% static 'images/pp.jpg' %}" alt="" class="ns_profile_img">
            </div>
        </div>
        <div class="ns_profile_column2">
            <div class="ns_profile_text">
                <t1>{{admin_all.email}}</t1>
                <br>
                <t2>Admin</t2>
                <br>
                <br>

                <div class="ns_profile_row">
                    <div class="ns_profile_column3">

                        <ul>
                            <li>Username</li>
                            <li>Email</li>
                            <li>Contact</li>
                            <li>Authorization</li>
                        </ul>
                    </div>

                    <div class="ns_profile_column4">

                        <ul>
                            <li>: {{admin_all.user_name}}</li>
                            <li>: {{admin_all.email}}</li>
                            <li>: {{admin_all.contact}}</li>
                            <li>: {{admin_all.authorization}}</li>
                        </ul>
                    </div>

                </div>

                <a href="{% url 'admin_profile'%}">
                    <button class="ns_button">Edit</button>
                </a>

            </div>
        </div>
    </div>
</div>