{% include 'english/dashboard/top.html'%}
{% load static %}
{% load widget_tweaks %}

<link rel="stylesheet" href="{% static 'css/add_news.css' %}">

<div class="text">News</div>

<div class="addnews">
    <form action="/en/en_update_news_other_post/{{news_query.news_type}}/{{news_query.date_uploaded | date:'Y-m-d'}}/{{ news_query.id }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="written">
            <label>TITLE</label>
            {% render_field form.title type="text" name="title" id="title" placeholder="Your Title..." %}
            <br><br><br>

            <label>AUTHOR</label>
            {% render_field form.editor_name type="text" name="editor_name" id="editor_name" placeholder="Author Name..." %}

            <br><br><br>

            <label>LOCATION</label>
            {% render_field form.location type="text" name="location" id="location" placeholder="Location..." %}

            <br><br><br>

            <div class="profile-pic"><label>SELECT IMAGE:</label><br><br>
                <img src=form.photo_img id="output" width="100px" height="100px"/><br><br>
                {% render_field form.photo_img id="photo_img" name="photo_img" class="img_upload" onchange="loadFile(event)" %}
            </div>
            <br><br>

            <label>NEWS SUMMARY</label>
            {% render_field form.news_summary id="textarea1" name="news_summary" placeholder="News Summary..." %}
            <br>

            <label>DESCRIPTION</label><br><br>
            {% render_field form.description id="description" name="description" maxlength="300" %}
            {{form.media}}

            <label>SCHEDULE</label><br><br>
            {{form.date_time_picker}}

        </div>
    <br>

        <br>
        <br>
    <div class="pstbt">
            <input class="ns_post_edit" type="submit" value="Update">
        </div>
    </form>

</div>
<script src="{% static 'javascript/edituser.js' %}"></script>

{% include 'english/dashboard/bottom.html' %}