<!-- footer session start -->
    <div class="ns_footer">

      <div class="ns_footer1">

        <div class="ns_footer1_column1">

          <h2>हाम्रो बारे</h2>

          <p> <a href="">News Saarathi </a> </p>


        </div>
        <div class="ns_footer1_column2">
          <h2>हामी संग अन्तरक्रिया</h2>
          <a href="https://www.facebook.com/radiodhadingnew" class="fab fabi fa-facebook"></a>
          <a href="#" class="fab fabi fa-twitter"></a>
          <a href="#" class="fab fabi fa-google"></a>
          <a href="#" class="fab fabi fa-youtube"></a>
          <a href="#" class="fab fabi fa-instagram"></a>


        </div>
        <div class="ns_footer1_column3">
          <h2>हामीलाई सम्पर्क गर्नुहोस्</h2>

          <p> <a href="#">पोस्ट को लागी लेख्नुहोस्</a></p>



          <p><a href="#">सम्पादकलाई पत्र</a></p>


          <p> <a href="#">पोस्ट मा विज्ञापन गर्नुहोस्</a></p>

          <p><a href="#">पद को लागी काम गर्नुहोस्</a></p>

          <p><a href="#">हामीलाई टिप पठाउनुहोस्</a></p>

        </div>

      </div>
      <!-- footer 1 end -->

      <!-- footer2 copyright start -->
      <div class="ns_footer2">
        <div class="ns_copyright">

          © 2020 Copyright:
          <a class="" href="https://newssarathi.com/">News Sarathi</a>

        </div>
        <div class="ns_powered">
          <span>Powered By: <a href='http://cyberinquest.com'>Cyber Inquest Pvt. Ltd.</a></span>
        </div>



      </div>

      <!-- footer2 copyright end -->

    </div>
    <!-- footer session end -->