{% include 'admin/top.html' with current_user=current_user %}
{% load static %}
{% load widget_tweaks %}
<script src="{% static 'javascript/script.js'%}"></script>
<link rel="stylesheet" href="{% static 'css/add_news.css' %}">
<script src="{% static 'javascript/edituser.js' %}"></script>
<div class="text">Add News: {{news_types}}</div>

<div class="addnews">
    <div class="written">
        <form action="/admin_add_post/{{news_types}}" method="post" enctype="multipart/form-data">
            {% csrf_token%}

<!--             {{form.as_p}}-->
<!--             {{form.media}}-->

            <label>TITLE</label>
            {% render_field form.title type="text" name="title" id="title" placeholder="Hello Your Title..." %}
            <br><br><br>

            <label>AUTHOR</label>
            {% render_field form.author type="text" name="author" id="author" %}
            <br><br><br>

            <label>LOCATION</label>
            {% render_field form.location type="text" name="location" id="location" %}
            <br><br><br>

            <div class="profile-pic"><label>SELECT IMAGE:</label><br><br>
                <img src="{% static 'images/guest-user.jpg' %}" id="output" width="100px" height="100px"/><br><br>
                {% render_field form.img id="img" name="img" class="img_upload" onchange="loadFile(event)" %}
            </div>

            <br><br>

            <label for="name">NEWS SUMMARY</label>
            {% render_field form.news_summary type="text" name="news_summary" id="textarea1" %}

            <br>

            <label for="name">TEXT</label>
            {% render_field form.content id="textarea" name="content" maxlength="300" %}
            {{form.media}}

            <br><br>
            <label>SCHEDULE</label><br><br>
            {{form.date_time_picker}}

            <div class="pstbt">
            <button class="ns_post">POST</button>
            </div>
        </form>
    </div>


</div>

{% include 'admin/bottom.html' %}