<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Responsive Sidebar Menu | CodingLab </title>
    <link rel="stylesheet" href="style.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="smspoll.scss">
    <link rel="stylesheet" href="css/main.css">
    <script src="Chart.js"></script>
</head>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bxl-c-plus-plus icon'></i>
            <div class="logo_name">CodingLab</div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav-list">

            <li>
                <a href="#">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-user'></i>
                    <span class="links_name">National News</span>
                </a>
                <span class="tooltip">National News</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-chat'></i>
                    <span class="links_name">International News</span>
                </a>
                <span class="tooltip">International News</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-pie-chart-alt-2'></i>
                    <span class="links_name">Thoughts</span>
                </a>
                <span class="tooltip">Thoughts</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-folder'></i>
                    <span class="links_name">Interview</span>
                </a>
                <span class="tooltip">Interview</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cart-alt'></i>
                    <span class="links_name">Order</span>
                </a>
                <span class="tooltip">Order</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-heart'></i>
                    <span class="links_name">Saved</span>
                </a>
                <span class="tooltip">Saved</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-cog'></i>
                    <span class="links_name">Setting</span>
                </a>
                <span class="tooltip">Setting</span>
            </li>
            <li class="profile">
                <div class="profile-details">
                    <img src="images/pp.jpg" alt="profileImg">
                    <div class="name_job">
                        <div class="name">Prem Shahi</div>
                        <div class="job">Web designer</div>
                    </div>
                </div>
                <i class='bx bx-log-out' id="log_out"></i>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="text">Dashboard</div>
        <div class="ns_poll_container">
            <div class="ns_poll_heading">
                <a href="pollquestion.html" class="button">Add SMS Poll</a>
            </div>
            <div class="ns_poll_details_box">

                <div class="ns_pub_time"><span>Jestha</span></div>
                <hr>

                <div class="ns_polling_container">
                    <div class="ns_poll_row">
                        <div class="ns_poll_column1">

                            <div class="ns_poll_question">Q. What is your name? Why are you gay?</div>
                            <div class="ns_polling_contianer">
                                <div class="ns_poll_row">
                                    <div class="ns_poll_column1">
                                        <div class="ns_option_row">
                                            <div class="ns_option_col1">
                                                <img src="image/1.png" class="ns_number_img">
                                            </div>
                                            <div class="ns_option_col2">
                                                <span class="ns_poll_options">Yogi. I love it.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ns_poll_column2">
                                        <div class="ns_option_row">
                                            <div class="ns_option_col1">
                                                <img src="image/1.png" class="ns_number_img">
                                            </div>
                                            <div class="ns_option_col2">
                                                <span class="ns_poll_options">Yogi. I love it.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ns_poll_row">
                                    <div class="ns_poll_column1">
                                        <div class="ns_option_row">
                                            <div class="ns_option_col1">
                                                <img src="image/1.png" class="ns_number_img">
                                            </div>
                                            <div class="ns_option_col2">
                                                <span class="ns_poll_options">Yogi. I love it.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ns_poll_column2">
                                        <div class="ns_option_row">
                                            <div class="ns_option_col1">
                                                <img src="image/1.png" class="ns_number_img">
                                            </div>
                                            <div class="ns_option_col2">
                                                <span class="ns_poll_options">Yogi. I love it.</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <button class="modal-button button" href="#myModal1" style="background-color: red;"
                                id="myBtn">Delete</button>
                        </div>
                        <div class="ns_poll_column2">


                            <canvas id="myChart1" style="width:100%;max-width:600px"></canvas>


                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="ns_poll_details_box">

                <div class="ns_pub_time"><span>Baisakh</span></div>
                <hr>

                <div class="ns_polling_container">
                    <div class="ns_poll_row">
                        <div class="ns_poll_column1">

                            <div class="ns_poll_question">Q. What is your name? Why are you gay?</div>
                            <div class="ns_polling_contianer">
                                <div class="ns_poll_row">
                                    <div class="ns_poll_column1">
                                        <div class="ns_option_row">
                                            <div class="ns_option_col1">
                                                <img src="image/1.png" class="ns_number_img">
                                            </div>
                                            <div class="ns_option_col2">
                                                <span class="ns_poll_options">Yogi. I love it.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ns_poll_column2">
                                        <div class="ns_option_row">
                                            <div class="ns_option_col1">
                                                <img src="image/1.png" class="ns_number_img">
                                            </div>
                                            <div class="ns_option_col2">
                                                <span class="ns_poll_options">Yogi. I love it.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ns_poll_row">
                                    <div class="ns_poll_column1">
                                        <div class="ns_option_row">
                                            <div class="ns_option_col1">
                                                <img src="image/1.png" class="ns_number_img">
                                            </div>
                                            <div class="ns_option_col2">
                                                <span class="ns_poll_options">Yogi. I love it.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ns_poll_column2">
                                        <div class="ns_option_row">
                                            <div class="ns_option_col1">
                                                <img src="image/1.png" class="ns_number_img">
                                            </div>
                                            <div class="ns_option_col2">
                                                <span class="ns_poll_options">Yogi. I love it.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="modal-button button" href="#myModal1" style="background-color: red;"
                                id="myBtn">Delete</button>
                        </div>
                        <div class="ns_poll_column2">


                            <canvas id="myChart2" style="width:100%;max-width:600px"></canvas>


                        </div>
                    </div>
                </div>
            </div>


            <br><br>
        </div>

        <!-- The Modal -->
        <div id="myModal1" class="modal">

            <!-- Modal content -->
            <div class="modal-content" style="text-align: center;">
                <div class="modal-header">
                    <span class="close">×</span>
                    <h2>Are you sure want to delete?</h2>
                </div>
                <div class="modal-body">
                    <a href="" class="button" style="background-color: red;">Yes</a>
                    <a href="" class="button">No</a>
                </div>

            </div>

        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="script.js"></script>
    <script src="pieChart_data.js"></script>
    <script src="get_poll.js"></script>
</body>

</html>